mysql-autoload/media.dump.sql
#directories created by mysql
mysql-datadir
mysql-shr
mysql-conf.d
nginx-logs


# artifact
srv/releases/mediaserver-ear.ear
srv/releases/media.dump.sql
srv/deployments/mediaserver-ear.ear.deployed
srv/deployments/mediaserver-ear.ear.failed
srv/deployments/mediaserver-ear.ear
srv/deployments/mediaserver.ear
srv/deployments/mediaserver.ear.deployed
srv/deployments/mediaserver.ear.failed
srv/log/server.log

*~
*.class
[0-9]*

# Package Files #
*.war
*.ear

self-test/dragon.png
self-test/dragon.b64
self-test/big.b64
self-test/head.json
self-test/tail.json
