#directories created by mysql
mysql-autoload/media.dump.sql
mysql-datadir
mysql-shr
mysql-conf.d
mysql-datadir

# artifact
srv/releases/mediaserver-ear.ear
srv/deployments/mediaserver-ear.ear.deployed
srv/deployments/mediaserver-ear.ear.failed
srv/deployments/mediaserver-ear.ear
srv/deployments/mediaserver.ear
srv/deployments/mediaserver.ear.deployed
srv/deployments/mediaserver.ear.failed
srv/log/server.log

*~
*.class
[0-9]*

# Package Files #
*.war
*.ear
