*~
# Package Files #
*.war
*.ear
*.tgz

*.pem



mysql_media-autoload/mediaserver*.sql
mysql_media-mediadir/
srv/deployments/mediaserver-nf.ear.deployed
srv/deployments/mediaserver-nf.ear
srv/releases/mediaserver-nf.ear.deployed
srv/releases/mediaserver_for_nf-20160203.sql

srv/media/0/
srv/media/1/
srv/media/2/
srv/media/3/
srv/media/4/
srv/media/5/
srv/media/6/
srv/media/7/
srv/media/8/
srv/media/9/
srv/media/a/
srv/media/b/
srv/media/c/
srv/media/d/
srv/media/e/
srv/media/f/

srv/log/server.*

nginx-logs/host.access.log
nginx-logs/ssl.access.log

nginx-certs/cert.key
nginx-certs/cert.pem

*.htm*

